<main id="template-show" class="grid-paper-background">
  <div class="wrapper-seventy">
    <div class="small-link u-paddingTop5">
      <%= link_to "Back to #{@template.name}", template_path(@template) %>
    </div>

    <section class="template-info">
      <div class="template-header">
        <h2><%= @template.name %></h2>
        <p><%= @template.description %></p>
      </div>
    </section>

    <section class="data-transfers-info">
      <h2>Data transfers:</h2>
      <p>This report is generated through a series of automated spreadsheet copy-paste actions.  A particular cell is copied from a provided origin file to a particular cell of a provided destination file.  The following is a list of each of those data transfers that are executed to produce the final report.</p>

      <% @template.origin_files.each do |origin_file| %>
        <div class="file-group">
          <h3 class="u-paddingBottom1"><%= origin_file.name %></h3>
          <div class="u-paddingBottom3">
            <a
              href="origin_files/<%= origin_file.id %>/data_transfers/new"
              class="small-link u-posCenter"
            >
              Add data transfers
            </a>
          </div>

          <div class="transfer-groups-container">
            <% origin_file.transfers_by_column_and_destination_worksheet.each do |groups| %>
              <% groups.each do |data_transfers| %>
                <div class="transfer-group">
                  <table border="1">
                    <tbody>
                      <tr>
                        <th colspan="2">Origin</th>
                        <th colspan="2">Destination</th>
                      </tr>
                      <tr>
                        <th>Worksheet</th>
                        <th>Cell</th>
                        <th>Worksheet</th>
                        <th>Cell</th>
                      </tr>
                      <% data_transfers.each_with_index do |data_transfer, index| %>
                        <tr class=<%= "table-row-#{index % 2 == 0 ? 'even' : 'odd'}" %>>
                          <td><%= data_transfer[:origin_worksheet] %></td>
                          <td><%= data_transfer[:origin_cell] %></td>
                          <td><%= data_transfer[:destination_worksheet] %></td>
                          <td><%= data_transfer[:destination_cell] %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <br>
      <% end %>
    </section>

    <div class="small-link u-paddingBottom5">
      <%= link_to "Back to #{@template.name} Template", template_path(@template) %>
    </div>
  </div>
</main>
