<main id="task-show" class="centered-container">
  <%= render "shared/flash_alert_message" %>

  <div class="wrapper-seventy">
    <div class="small-link"><%= link_to 'Back to My Report Tasks', user_path(current_user) %></div>

    <section class="task-info">

      <div class="task-header">
        <h2><%= @task.name %></h2>
        <p><%= @task.description %></p>
        <div class="small-link">
          <%= link_to 'Show data transfer details', data_transfers_path(@task.id) %>
        </div>
      </div>

      <div class="Grid form-container">
        <%= form_tag("#{@task.id}/execute.xlsx", multipart: true) do %>

          <!-- OriginFile inputs -->
          <h3 class="file-input-header">Origin files:</h3>
          <div class="input-group">
            <% @task.origin_files.order(:position).each do |file| %>
              <div class="Grid task-execute">
                <div class="Grid-cell u-size1of2">
                  <%= label_tag file.name_as_param, "#{file.name}" %>
                </div>
                <div class="Grid-cell u-size1of2">
                  <%= file_field_tag file.name_as_param, { required: true } %>
                </div>
              </div>
            <% end %>
          </div>

          <!-- DestinationFile inputs -->
          <h3 class="file-input-header">Destination files:</h3>
          <div class="input-group">
            <% @task.destination_files.order(:position).each do |file| %>
              <div class="Grid task-execute">
                <div class="Grid-cell u-size1of2">
                  <%= label_tag file.name_as_param, "#{file.name}" %>
                </div>
                <div class="Grid-cell u-size1of2">
                  <%= file_field_tag file.name_as_param %>
                </div>
              </div>
            <% end %>
          </div>

          <%= submit_tag('Generate Report', class: 'submit button') %>
        <% end %>
      </div>
    </section>
  </div>
</main>
