<main id="task-show" class="centered-container">
  <%= render "shared/flash_messages" %>

  <div class="wrapper-seventy">
    <div class="small-link"><%= link_to 'Back to My Report Tasks', user_path(current_user) %></div>

    <section class="task-info">

      <div class="task-header">
        <h2><%= @task.name %></h2>
        <p><%= @task.description %></p>
      </div>

      <div class="Grid form-container">
        <%= form_tag("#{@task.id}/execute.xlsx", multipart: true) do %>

          <!-- OriginFile inputs -->
          <h3 class="file-input-header">Origin files:</h3>
          <div class="input-group">
            <% @task.origin_files.order(:position).each do |file| %>
              <div class="Grid task-execute">
                <div class="Grid-cell u-size1of2">
                  <%= label_tag file.name_as_param, "#{file.name}" %>
                </div>
                <div class="Grid-cell u-size1of2">
                  <%= file_field_tag file.name_as_param, { required: true } %>
                </div>
              </div>
            <% end %>
          </div>

          <!-- DestinationFile inputs -->
          <h3 class="file-input-header">Destination files:</h3>
          <div class="input-group">
            <% @task.destination_files.order(:position).each do |file| %>
              <div class="Grid task-execute">
                <div class="Grid-cell u-size1of2">
                  <%= label_tag file.name_as_param, "#{file.name}" %>
                </div>
                <div class="Grid-cell u-size1of2">
                  <%= file_field_tag file.name_as_param %>
                </div>
              </div>
            <% end %>
          </div>

          <%= submit_tag('Generate Report', class: 'submit button') %>
        <% end %>
      </div>
    </section>

    <h2>Data transfers:</h2>

    <% @task.origin_files.each do |origin_file| %>
      <div class="file-group">
        <h3><%= origin_file.name %></h3>
        <div class="transfer-groups-container">
          <% origin_file.transfers_by_column_and_destination_worksheet.each do |groups| %>
            <% groups.each do |data_transfers| %>
              <div class="transfer-group">
                <table border="1">
                  <tbody>
                    <tr>
                      <th>Origin file</th>
                      <th>Worksheet</th>
                      <th>Origin Cell</th>
                      <th></th>
                      <th>Destination file</th>
                      <th>Worksheet</th>
                      <th>Destination Cell</th>
                    </tr>
                    <% data_transfers.each_with_index do |data_transfer, index| %>
                      <tr class=<%= "table-row-#{index % 2 == 0 ? 'even' : 'odd'}" %>>
                        <td><%= data_transfer[:origin_file] %></td>
                        <td><%= data_transfer[:origin_worksheet] %></td>
                        <td><%= data_transfer[:from] %></td>
                        <td></td>
                        <td><%= data_transfer[:destination_file] %></td>
                        <td><%= data_transfer[:destination_worksheet] %></td>
                        <td><%= data_transfer[:to] %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <br>
    <% end %>

    <div class="small-link"><%= link_to 'Back to My Report Tasks', user_path(current_user) %></div>
  </div>
</main>
