<main id="template-show" class="grid-paper-background">
  <%= render "shared/flash_alert_message" %>

  <div class="wrapper-seventy">
    <div class="small-link u-paddingTop5">
      <%= link_to 'Back to My Report Templates', user_path(current_user) %>
    </div>

    <section class="template-info">

      <div class="template-header">
        <h2><%= @template.name %></h2>
        <p><%= @template.description %></p>
        <div class="small-link">
          <%= link_to 'Show data transfer details', data_transfers_path(@template.id) %>
        </div>
      </div>

      <div class="Grid form-container">
        <%= form_tag("#{@template.id}/execute.xlsx", multipart: true) do %>

          <!-- OriginFile inputs -->
          <h3 class="file-input-header">Origin files</h3>
          <div class="input-group">
            <% @template.origin_files.order(:position).each do |file| %>
              <div class="Grid template-execute">
                <div class="Grid-cell u-size1of2">
                  <%= label_tag file.param_name, "#{file.name}" %>
                </div>
                <div class="Grid-cell u-size1of2">
                  <%= file_field_tag file.param_name, { required: true } %>
                </div>
              </div>
            <% end %>
          </div>

          <!-- DestinationFile input -->
          <h3 class="file-input-header">Destination file</h3>
          <div class="input-group">
            <div class="Grid template-execute">
              <div class="Grid-cell u-size1of2">
                <%= label_tag @template.file_param_name, @template.name %>
              </div>
              <div class="Grid-cell u-size1of2">
                <%= file_field_tag @template.file_param_name %>
              </div>
            </div>
          </div>

          <%= submit_tag('Generate Report', class: 'submit button') %>
        <% end %>
      </div>
    </section>
  </div>
</main>
