<main id="homepage">
  <div class="page-top-section">
    <h1>Transforming Your Data</h1>
  </div>

  <section class="info-section">
    <h1>Customized Data Processing Services</h1>
    <div class="description">
      <h3>We specialize in working with clients to create unique technology solutions to replace manual copying and manipulating of data.</h3>
    </div>
    <%= image_tag "spreadsheet-transform" %>
  </section>

  <section class="what-we-do">
    <h1>Efficiency through Technology</h1>
    <div class="benefits">
      <div class="tech-benefit">
        <%= image_tag "dollar-sign.png" %>
        <h3>Reduce costs from manual data work</h3>
      </div>
      <br>
      <div class="tech-benefit">
        <%= image_tag "lock.png" %>
        <h3>Transmit data securely with HIPAA compliance</h3>
      </div>
      <br>
      <div class="tech-benefit">
        <%= image_tag "folder.png" %>
        <h3>Create unlimited, customized report templates</h3>
      </div>
    </div>
  </section>

  <section class="how-it-works">
    <h1>How It Works</h1>

    <div id="simple-steps" class="Grid">
      <div class="Grid-cell simple-step u-size1of3">
        <h2>1</h2>
        <%= image_tag "create-template.png" %>
        <h3>Input Report Template Instructions</h3>
      </div>
      <div class="Grid-cell simple-step u-size1of3">
        <h2>2</h2>
        <%= image_tag "upload.png" %>
        <h3>Upload Source Files</h3>
      </div>
      <div class="Grid-cell simple-step u-size1of3">
        <h2>3</h2>
        <%= image_tag "success.png" %>
        <h3>Generate Finalized Report</h3>
      </div>
    </div>
  </section>

  <section class="contact-us">
    <h2><%=link_to "Contact us", contact_path %> today for a demo or for more information</h2>
  </section>
</main>
